       
 {% extends "base.html" %} 
   {% block title %} Index {% endblock%}
    
    {% block content %}
        {% for user in users  %}
        {% if user.edad > 20  %}
            <h3>Mayores de 20 años</h3>
            <ul>
            
                <li>{{user.nombre}}</li>
                <li>{{user.apellidos}}</li>
                <li>{{user.edad}}</li>
                <li>{{user.escolaridad|default:"No tiene escolaridad" |capfirst }}</li>
            </ul>
        {% else %}
        <h3>Menores de 20 años</h3>
            <ul>
            
                <li>{{user.nombre}}</li>
                <li>{{user.apellidos}}</li>
                <li>{{user.edad}}</li>
                <li>{{user.escolaridad|default:"No tiene escolaridad" |capfirst }}</li>
            </ul>
        {% endif  %}
        {% endfor %}
    {% endblock %}

{% block js%}
    
{%endblock %}